<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}"/>
    
    <script src="{% static 'js/flexible.js' %}"></script>
    
</head>
<body>
    <div class="main">
        <h1>test qr</h1>
    </div>
<br>
    <div class="chart1" id="chart1">
        图:
        <img src="/app/makeqrcode/" width="300px" height="300px;">
    </div>
</body>
</html>